<html>
      <head>
           <title>Dynamically Add or Remove input fields in PHP with JQuery</title>

           {% load static %}
       
        <!--<link rel = "stylesheet" type = "text/css" href = "{% static 'mane/css/bootstrap.min.css' %}"/>
		<link rel = "stylesheet" type = "text/css" href = "{% static 'mane/css/dataTables.bootstrap.min.css' %}"/>
		
		
		
		<link rel = "stylesheet" type = "text/css" href = "{% static 'mane/css/dataTables.checkboxes.css' %}"/>

        
		

        <link rel = "stylesheet" type = "text/css" href = "{% static 'mane/css/font-awesome.css' %}"/>


       
        <script src="{% static '/mane/js/jquery.min.js' %}"> </script>
		<script src="{% static '/mane/js/bootstrap.min.js' %}"></script>
		<script src="{%static '/mane/js/jquery.dataTables.min.js' %}"></script>
		<script src="{%static '/mane/js/dataTables.bootstrap.min.js' %}"></script>
		<script src="{%static '/mane/js/dataTables.checkboxes.min.js' %}"></script> -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
	
		<script type="text/javascript" src="script.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.8/css/jquery.dataTables.min.css">
		<script src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.11/js/dataTables.checkboxes.min.js"></script>



      </head>
      <body>
           <div class="container">
                <br />
                <br />
                <h2 align="center">Dynamically Add or Remove input fields in PHP with JQuery</h2>
                <div class="form-group">
				
				<table id="mytable" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>    
                        <th></th>  
                        <th>Name</th>  
                        <th>Position</th>  
                        <th>Office</th>  
                        <th>Extn.</th>  
                        <th>Start date</th>  
                        <th>Salary</th>
                    </tr>
                </thead>
				
				<tbody>
				
					<tr>
						<td> </td>
						<td>Ram</td>
						<td>Automation</td>
						<td>Dell</td>
						<td>EMC</td>
											
											
						<td>today</td>
						<td>1000</td>
					</tr>	
					
					<tr>
					<td> </td>
						<td>ganesh</td>
						<td>Automation</td>
						<td>Dell</td>
						<td>EMC</td>
											
											
						<td>today</td>
						<td>1000</td>
					</tr>	
				
				
				
				</tbody>
                <tfoot>
                    <tr>    
                        <th></th>  
                        <th>Name</th>  
                        <th>Position</th>  
                        <th>Office</th>  
                        <th>Extn.</th>  
                        <th>Start date</th>  
                        <th>Salary</th>
                    </tr>
                </tfoot>
            </table>
				
				</div>
                    
           </div>
      </body>

 <script>
 $(document).ready(function(){
        var mytable = $("#mytable").DataTable({
           
            columnDefs: [
                {
                    targets: 0,
					className: 'select-checkbox',
                    checkboxes: {
                        seletRow: true
                    }
                }
            ],
            select:{
                style: 'multi'
            },
            order: [[1, 'asc']]
        })
		 })
</script>

</html>